---
# /_data/samplelist.yml
layout: page-6
published: true
last_modified_at: 2023-09-11
title: "Home Library Book List"
---

<!-- <i>
	<a href="/">Search</a>
</i> -->
{%-include backtotop.html-%}
<br />
{% for item in site.data.list %}
<h4>
	<a
		href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
		name="{{ item.bookshelf }}"
		>{{ item.title }}</a
	>
</h4>
<div style="margin-left: 5%">
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.notes }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.author }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.year }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.publisher }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.page }} sayfa</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i># {{ item.bookshelf }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i>{{ item.status }}</i>
	</div>
	<div
		class="decorated"
		style="font-size: 85%"
	>
	{% if item.reread != "yes" %}
    <div style="visibility: hidden;"></div>
    {% else %}
		<i>Reread</i>
		{% endif %}
	</div>
	{% item.reread != "yes" | size %}
	<div
		class="decorated"
		style="font-size: 85%"
	>
		<i
			><a
				name="{{ item.title }}"
				title="google search"
				href="https://www.google.com/search?q={{ item.title }}"
				target="_blank"
				rel="noreferrer,nofollow"
			>
				google
			</a></i
		>
	</div>
</div>
{% endfor %}

<br />
<br />
