---
layout: page-6
published: true
last_modified_at: 2024-04-28
title: "Beslenme"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.categories == "beslenme" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.title }} | {{ item.author }}</a
		>
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />

<!-- size -->
1
<br />
{% assign category_data = site.data.list %} {% assign categories_beslenme =
category_data | where: "categories", "beslenme" | size %}
<br />
2
<br />
{% assign category_data = site.data.list %} {% assign categories_beslenme =
category_data | where: "Categories", "beslenme" | size %}
<br />
