---
layout: page-6
published: true
last_modified_at: 2024-04-28
title: "Etik"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.categories == "etik" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.title }} | {{ item.author }}</a
		>
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />

<!-- size -->
{% assign cat_data = site.data.list %} {% assign cat_etik = cat_data | where:
"categories", "etik" | size %}
<!-- {{ }} -->
{{ cat_etik }}
