---
layout: page-6
published: true
last_modified_at: 2024-04-28
title: "Sosyal Medya"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.categories == "sosyal medya" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.title }} | {{ item.author }}</a
		>
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />

<!-- size -->
{% assign cat_data = site.data.list %} {% assign cat_sosyalmedya = cat_data |
where: "categories", "sosyal medya" | size %}
<!-- {{ }} -->
{{ cat_sosyalmedya }}
