<i>
	<div>1. Building a Second Brain | Tiago Forte</div>
	<div>2. Atomic Habits | James Clear</div>
	<div>3. The Job | Ellen Ruppel Shell</div>
	<div>4. The Almanack of Naval Ravikant | Eric Jorgenson</div>
	<div>5. Why Good People Can’t Get Jobs | Peter Cappelli</div>
	<div>6. The End of Education | Neil Postman</div>
	<div>7. Deep Medicine | Eric J. Topol</div>
	<div>8. Why We Love Dogs, Eat Pigs, Wear Cows | Melanie Joy</div>
	<div>9. A World Without Email | Cal Newport</div>
	<div>10. Hired | James Bloodwroth</div>
	<div>11. How to Take Smart Notes | Sonke Ahrens</div>
	<div>12. Show Your Work | Austin Kleon</div>
	<div>13. How to Make Sense of Any Mess | Abby Covert</div>
	<div>14. Digital Minimalism | Cal Newport</div>
	<div>15. Payoff | Dan Ariely</div>
	<div>16. Humans Are Overrated | Geoff Colvin</div>
	<div>17. Talking to Strangers | Malcolm Gladwell</div>
	<div>18. Bad Blood | John Carreyrou</div>
</i>
<i
	>ebook
	<div>Building a Second Brain | Tiago Forte</div>
	<div>Atomic Habits | James Clear</div>
	<div>The Job | Ellen Ruppel Shell</div>
	<div>The Cult of We | Eliot Brown, Maureen Farrell</div>
	<div>The Almanack of Naval Ravikant | Eric Jorgenson</div>
</i>
