<i>
	<div>Building a Second Brain | Tiago Forte</div>
	<div>Atomic Habits | James Clear</div>
	<div>The Job | Ellen Ruppel Shell</div>
	<div>The Almanack of Naval Ravikant | Eric Jorgenson</div>
	<div>Why Good People Can’t Get Jobs | Peter Cappelli</div>
	<div>The End of Education | Neil Postman</div>
	<div>Deep Medicine | Eic J. Topol</div>
	<div>Why We Love Dogs, Eat Pigs, Wear Cows | Melanie Joy</div>
	<div>A World Without Email | Cal Newport</div>
	<div>Hired | James Bloodwroth</div>
	<div>How to Take Smart Notes | Sonke Ahrens</div>
	<div>Show Your Work | Austin Kleon</div>
	<div>How to Make Sense of Any Mess | Abby Covert</div>
	<div>Digital Minimalism | Cal Newport</div>
	<div>Payoff | Dan Ariely</div>
	<div>Humans Are Overrated | Geoff Colvin</div>
	<div>Talking to Strangers | Malcolm Gladwell</div>
	<div>Bad Blood | John Carreyrou</div>
</i>
