<table>
	<thead>
		<tr>
			<td>.</td>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
			<th>F</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td style="text-align: center">
				{% assign books_data = site.data.list %} {% assign shelf_a1 = books_data
				| where: "notes", "A-1" | size %} {{ shelf_a1 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b1 = books_data
				| where: "notes", "B-1" | size %} {{ shelf_b1 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c1 = books_data
				| where: "notes", "C-1" | size %} {{ shelf_c1 }}
			</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>2</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a2 = books_data
				| where: "notes", "A-2" | size %} {{ shelf_a2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b2 = books_data
				| where: "notes", "B-2" | size %} {{ shelf_b2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c2 = books_data
				| where: "notes", "C-2" | size %} {{ shelf_c2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d2 = books_data
				| where: "notes", "D-2" | size %} {{ shelf_d2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e2 = books_data
				| where: "notes", "E-2" | size %} {{ shelf_e2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f2 = books_data
				| where: "notes", "F-2" | size %} {{ shelf_f2 }}
			</td>
		</tr>
		<tr>
			<th>3</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a3 = books_data
				| where: "notes", "A-3" | size %} {{ shelf_a3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b3 = books_data
				| where: "notes", "B-3" | size %} {{ shelf_b3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c3 = books_data
				| where: "notes", "C-3" | size %} {{ shelf_c3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d3 = books_data
				| where: "notes", "D-3" | size %} {{ shelf_d3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e3 = books_data
				| where: "notes", "E-3" | size %} {{ shelf_e3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f3 = books_data
				| where: "notes", "F-3" | size %} {{ shelf_f3 }}
			</td>
		</tr>
		<tr>
			<th>4</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a4 = books_data
				| where: "notes", "A-4" | size %} {{ shelf_a4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b4 = books_data
				| where: "notes", "B-4" | size %} {{ shelf_b4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c4 = books_data
				| where: "notes", "C-4" | size %} {{ shelf_c4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d4 = books_data
				| where: "notes", "D-4" | size %} {{ shelf_d4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e4 = books_data
				| where: "notes", "E-4" | size %} {{ shelf_e4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f4 = books_data
				| where: "notes", "F-4" | size %} {{ shelf_f4 }}
			</td>
		</tr>
	</tbody>
</table>
<br />
