---
layout: default
---

<div>
	<a
		href="/"
		title="random post"
		><img
			src="/assets/plant.png"
			alt="random post"
			style="width: 25px; height: 25px; display: inline-block"
	/></a>
</div>
<br />

{%-include post_list.html category=page.which_category-%}
<br />
<div>
	<img
		src="/assets/total.png"
		title="total number of posts"
		alt="total number of posts"
		style="
			width: 25px;
			height: 25px;
			display: inline-block;
			vertical-align: text-bottom;
		"
	/>
	&nbsp; <i>{%-include numberofposts.html-%}</i>
</div>
